/* Общий стиль */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f9f9f9, #e6e9f0);
    color: #333;
  }
  
  .contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 73px;
    justify-content: center;
  }
  
  header h1 {
    font-size: 2.5em;
    color: #6b520a;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2em;
    color: #666;
  }
  
  /* Форма */
  .contact-form {
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    padding: 30px;
    border: double 10px #11c3c3;
    border-radius: 60px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form .form-group {
    margin-bottom: 20px;
    margin-right: 25px;
  }
  
  .contact-form label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    font-size: 1em;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    transition: border-color 0.3s;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #4A90E2;
    outline: none;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  /* Кнопка */
  .submit-btn {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #4A90E2, #56d895);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  
  .submit-btn:hover {
    background: linear-gradient(to right, #56C6D8, #4A90E2);
    transform: scale(1.05);
  }
  
  .submit-btn:active {
    transform: scale(0.98);
    background: #4A90E2;
  }
  
  /* Адаптивность */
  @media (max-width: 768px) {
    header h1 {
      font-size: 2em;
    }
  
    .contact-form {
      padding: 20px;
    }
  }
  